{% extends "rangoapp/base.html" %}

{% load static %}

{% block title %}RangoApp About{% endblock title %}

{% block body_block %}    
    <div class="hero-unit">
        <h1>About Rango</h1>
        This is <strong>Rango's about page</strong>.<br />

        You've visited the site on <strong>{{ visit_count }} occasion(s)</strong>.<br />

        Here's a picture of Rango!<br />
        <img src="{% static 'rango.jpg' %}" alt="Picture of Rango" />
    </div>

    <div style="text-align: center">
        <h2 style="display: inline">City West</h2>&nbsp;
        <a href="/rangoapp/">back to main</a>
    </div>
    <img src="{% static 'maps/citywest.jpg' %}" alt="City West" width=1300 height=700>
{% endblock %}