{% extends "rangoapp/base.html" %}

{% load static %}
{% load globalfunc %}

{% block title %}RangoApp{% endblock title %}

{% block body_block %}
    {% if user.is_authenticated %}
    <h3>Rango 说...你好 {{user.username}}! </h3>
    <a href="/rangoapp/restricted/">个人页面</a><br />
    <a href="/rangoapp/logout/">注销</a><br />
    {% else %}
    <h3>Rango 说...你好 world! </h3>
    <a href="/rangoapp/register/">在此注册</a>
    <a href="/rangoapp/login/">在此登录</a>
    {% endif %}

    <br>
    <a href="/rangoapp/add_category/">新增一个 Category</a>
    {% if categories %}
        <ul>
            {% for category in categories %}
            {% spliceUrl category.url as all_name%}            
            <li><a href="{% spliceUrl category.url %}" }}>{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    <a href="/rangoapp/about/">关于</a>
    <a href="/admin/">超级管理员</a>
    <br />
    <img src="{% static "rango.jpg" %}" alt="Picture of Rango" />

{% endblock %}