<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RangoApp</title>
</head>
<body>
    <h1>登录 RangoApp</h1>
    <form action="/rangoapp/login/" id="login_form" method="post">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50">
    <br>
    Password: <input type="text" name="password" value="" size="50">
    <br>

    <input type="submit" value="submit">
    </form>
</body>
</html>