{% extends "rangoapp/base.html" %}
{% block title %}RangoApp{% endblock title %}
{% block body_block %}
    <h1>登录 RangoApp</h1>
    <div class="container">
        <form action="/rangoapp/login/" id="login_form" method="post"
            class="form-signin span4">
            <h2 class="form-signin-heading">请登录</h2>
            {% csrf_token %}

            {% if bad_details %}
            <p><strong>你的用户名或密码不正确!</strong></p>
            {% elif disabled_account %}
            <p><strong>你的rango账户未启用,不允许登录!</strong></p>
            {% endif %}

            用户名: <input type="text" class="input-block-level" placeholder="用户名" name="username" value="" size="50" />
            <br>
            密码: <input type="password" class="input-block-level" placeholder="密码" name="password" value="" size="50" />
            <br>

            <button type="submit" class="btn btn-primary">登录</button>
        </form>
    </div>
{% endblock %}