{% extends "rangoapp/base.html" %}

{% load static %}

{% block title %}RangoApp 注册{% endblock title %}

{% block body_block %}  
<div class="hero-unit">
    <h1>注册Rango</h1>
    <br />
    
    <div class="container">
        {% if registered %}
            Rango Says: <strong>感谢你的注册...</strong>
            <p><a href="/rango/login/">Login</a> when you are ready to rango.</p>
        {% else %}
            Rango Says: <strong>在此注册！</strong>

            <form class="form-signin span8" action="/rangoapp/register/" id="user_form" method="post" enctype="multipart/form-data">
                {% csrf_token %} <!--对应后端views代码中必须要用render()渲染 否则会报错-->

                <!-- Display each form. The as_p method wraps each element in a paragraph
                    (<p>) element. This ensures each element appears on a new line,
                    making everything look neater. -->
                {% comment %} {{ user_form.as_p }}
                {{ profile_form.as_p }} {% endcomment %}

                <h2 class="form-signin-heading">Sign up Here</h2>
                <!-- Display each form here -->

                {% for field in user_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br />
                {% endfor %}

                {% for field in profile_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br />
                {% endfor %}

                <br />
                <input type="submit" name="submit" value="注册" class="btn btn-primary">
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}